<div class="card">
    <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Buscar medicos" (keyup)="buscarMedicos(input.value)">
    </div>
</div>
<div *ngIf="loading" class="alert alert-warning text-center">
    <strong>Cargando</strong>
    <br>
    <i class="fa fa-refresh fa-spin fa-2x"></i>
    <br>
    <span>Espere por favor</span>
</div>
<div class="card" *ngIf="!loading">
    <div class="card-body">
        <div class="text-right">
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/medico', 'nuevo']"><i class="fa fa-plus"></i> Crear medico</button>
        </div>
        <h3 class="card-title">Medicos (<small>{{ totalRegistros }}</small>)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Hospital</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of medicos">
                    <td><img (click)="mostrarModal(medico._id)" [src]="medico.img | imagen:'medico'" class="img-thumbnail img-circle" style="max-width: 50px"></td>
                    <td>{{ medico.nombre }}</td>
                    <td>{{ medico.hospital.nombre }}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/medico', medico._id]">
                      <i class="fa fa-edit"></i>
                    </button>
                        <button class="btn btn-danger" (click)="borrarMedico(medico)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button (click)="cambiarDesde(-5)" class="btn btn-secondary">Anteriores</button>
        <button (click)="cambiarDesde(5)" class="btn btn-secondary">Siguientes</button>
    </div>
</div>