<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <h6 class="card-subtitle">{{ usuario.nombre }}</h6>
                <form #f="ngForm" (ngSubmit)="guardar(f)" class="form p-t-20" ngNativeValidate>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" name="nombre" class="form-control" id="exampleInputuname" [ngModel]="usuario.nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" [ngModel]="usuario.email" [disabled]="usuario.google" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Imagen de Usuario</h4>
                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" alt="usuario" class="img-fluid">
                <img *ngIf="imagenTemp" [src]="imagenTemp" alt="usuario" class="img-fluid">
                <input type="file" (change)="seleccionImagen($event.target.files[0])">
                <br>
                <br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar imagen</button>
            </div>
        </div>
    </div>
</div>
