<div class="card">
    <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Buscar hospitales" (keyup)="buscarHospitales(input.value)">
    </div>
</div>
<div *ngIf="loading" class="alert alert-warning text-center">
    <strong>Cargando</strong>
    <br>
    <i class="fa fa-refresh fa-spin fa-2x"></i>
    <br>
    <span>Espere por favor</span>
</div>

<div class="card" *ngIf="!loading">
    <div class="card-body">
        <div class="text-right">
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" (click)="crearHospital()"><i class="fa fa-plus"></i> Crear hospital</button>
        </div>
        <h3 class="card-title">Hospitales (<small>{{ totalRegistros }}</small>)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hospital of hospitales">
                    <td><img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" class="img-thumbnail img-circle" style="max-width: 50px"></td>
                    <td><input name="nombre" class="form-control" [(ngModel)]="hospital.nombre"></td>
                    <td>
                        <button class="btn btn-primary" (click)="guardarHospital(hospital)">
                        <i class="fa fa-save"></i>
                      </button>
                        <button class="btn btn-danger" (click)="borrarHospital(hospital)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button (click)="cambiarDesde(-5)" class="btn btn-secondary">Anteriores</button>
        <button (click)="cambiarDesde(5)" class="btn btn-secondary">Siguientes</button>
    </div>
</div>