<div class="fondo-negro animated fadeIn" [ngClass]="modalUploadService.ocultoClass">
    <div class="modal fade show" style="display: block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" (click)="cerrarModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img *ngIf="!imagenTemp" [src]="'xxx' | imagen" alt="usuario" class="img-fluid">
                    <img *ngIf="imagenTemp" [src]="imagenTemp" alt="usuario" class="img-fluid">
                    <input type="file" (change)="seleccionImagen($event.target.files[0])">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
                    <button [disabled]="!imagenTemp" type="button" class="btn btn-primary" (click)="subirImagen()">Subir imagen</button>
                </div>
            </div>
        </div>
    </div>

</div>